<!doctype html>
<html>
	<head>
		<script src="/scripts/xhr.js" type="text/javascript"></script>
		<script src="/scripts/bitweb.js" type="text/javascript"></script>
		<title>Bitweb</title>
	</head>
	<body onload="home_init()" >
		Hello {{ username }}, your total balance is <span id="balance">unknown</span>.
		<hr/>
		<ul id="addresses">
			<!-- filled asynchroneously -->
		</ul>
		<hr/>
		<form onsubmit="return home_get_new_address();">
			<input id="accountname" type="text" placeholder="Account name for new address" size="25"/><br/>
			<input type="submit" value="Create new address">
		</form>
		<hr/>
		<a href="/btc/help">Bitcoind RPC help</a>
	</body>
</html>
